
<html>

    <head>
        <meta charset="utf-8">
        <title>数据导入</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ant-design-vue@1.7.2/dist/antd.min.css">
        <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
        <script src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <!-- <script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/moment.min.js"></script> -->
        <script src="https://cdn.jsdelivr.net/npm/ant-design-vue@1.7.2/dist/antd.min.js"></script>
        <!-- <script src="https://cdn.jsdelivr.net/npm/gif.js@0.2.0/dist/gif.min.js"></script> -->
        <script src="https://cdn.jsdelivr.net/npm/pouchdb@7.2.1/dist/pouchdb.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/pouchdb@7.2.1/dist/pouchdb.find.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue-spinner@1.0.4/dist/vue-spinner.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/regenerator-runtime@0.13.7/runtime.js"></script>
        <!-- <script src="https://cdn.jsdelivr.net/npm/vue-router/dist/vue-router.js"></script> -->
        <style>
            body {
                background-color: white;
            }
        </style>
    
        <!-- Styles -->
        <style>
            .slogn {
                position: fixed;
                bottom: 5px;
                left: 5px;
                font-size: 12px;
                z-index: 2000;
                text-align: left;
                color: #aaa
            }
    
    
            .ant-table-body {
                overflow-x: auto !important;
            }
    
            #app-main {
                opacity: 0;
            }
    
    
            #app-main.appStarted {
                opacity: 1;
            }
    
            #app.appStarted #loading-mask {
                display: none;
            }
    
            #loading-mask {
                position: fixed;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                user-select: none;
                z-index: 9999;
                overflow: hidden
            }
    
            .loading-wrapper {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -100%)
            }
    
            .loading-dot {
                animation: antRotate 1.2s infinite linear;
                transform: rotate(45deg);
                position: relative;
                display: inline-block;
                font-size: 64px;
                width: 64px;
                height: 64px;
                box-sizing: border-box
            }
    
            .loading-dot i {
                width: 22px;
                height: 22px;
                position: absolute;
                display: block;
                background-color: black;
                border-radius: 100%;
                transform: scale(.75);
                transform-origin: 50% 50%;
                opacity: .3;
                animation: antSpinMove 1s infinite linear alternate
            }
    
            .loading-dot i:nth-child(1) {
                top: 0;
                left: 0
            }
    
            .loading-dot i:nth-child(2) {
                top: 0;
                right: 0;
                -webkit-animation-delay: .4s;
                animation-delay: .4s
            }
    
            .loading-dot i:nth-child(3) {
                right: 0;
                bottom: 0;
                -webkit-animation-delay: .8s;
                animation-delay: .8s
            }
    
            .loading-dot i:nth-child(4) {
                bottom: 0;
                left: 0;
                -webkit-animation-delay: 1.2s;
                animation-delay: 1.2s
            }
    
            @keyframes antRotate {
                to {
                    -webkit-transform: rotate(405deg);
                    transform: rotate(405deg)
                }
            }
    
            @-webkit-keyframes antRotate {
                to {
                    -webkit-transform: rotate(405deg);
                    transform: rotate(405deg)
                }
            }
    
            @keyframes antSpinMove {
                to {
                    opacity: 1
                }
            }
    
            @-webkit-keyframes antSpinMove {
                to {
                    opacity: 1
                }
            }
        </style>
    
        <!-- Resources -->
        <!-- <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
            <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
            <script src="https://cdn.amcharts.com/lib/4/plugins/wordCloud.js"></script>
            <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script> -->
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-PEPQ7KZ023"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());
    
            gtag('config', 'G-PEPQ7KZ023');
        </script>
    </head>
    
    <body>
        <div id="app" :class="{'appStarted': inited }">
            <div id="loading-mask">
                <div class="loading-wrapper"><span class="loading-dot loading-dot-spin"><i></i><i></i><i></i><i></i></span>
                </div>
            </div>

      <div style="width: 500px; margin: 20px">
        <a-card v-if="!token">
            <h2>连接账号</h2>
                <p>
                <a-input v-model="url" placeholder="" />
            </p>
            <p>
                <a-input v-model="code" placeholder="授权代码" />
            </p>
            <a-button type="primary" @click="startAuth" style="width: 140px;" icon="user">获取授权码
            </a-button>
        </a-card>

        <div style="margin-top: 20px" v-if="token">
            <a-upload
                name="file"
                :custom-request="customRequest"
            >
                <a-button>从backup.json导入</a-button>
            </a-upload>
            <span v-if="tabs.length">
                {{ tabs }}
            </span>
          </div>
         </div>
      </div>

  
        <script>
            var dataDB = new PouchDB('dataset');
            var ScaleLoader = VueSpinner.ScaleLoader
    
            const chunk = (arr, size) =>
                Array.from({ length: Math.ceil(arr.length / size) }, (v, i) =>
                    arr.slice(i * size, i * size + size)
                );
    
            async function chunkPromise(items, callFun, afterTask, count = 15) {
                const stepItems = chunk(items, count);
                console.log('stepItems', stepItems.length)
                window.progress && window.progress({
                    type: 'chunkstart',
                    results: stepItems
                });
                for (let index = 0; index < stepItems.length; index++) {
                    try {
                        const tasks = stepItems[index];
                        const results = await Promise.all(
                            tasks.map((itemData) => {
                                return callFun(itemData);
                            })
                        );
                        afterTask(results);
    
                        window.progress && window.progress({
                            type: 'chunkend',
                            results: results[0]
                        });
                    } catch (e) {
                        console.log("chunkPromise", e);
                    }
                }
            }

           function MastdonApi(url) {
                var _clientData = null
                async function getMastodonClientId() {
                    if(_clientData) return _clientData;
                    const { data } = await axios.post(url+'/api/v1/apps', {
                        client_name: '音乐数据导入工具',
                        redirect_uris: 'urn:ietf:wg:oauth:2.0:oob',
                        scopes: 'read write',
                        website: ''
                    });
                    _clientData = data;
                    return data
                }
                
                async function getCode() {
                    var clientData = await getMastodonClientId();
                    var authUrl = url + '/oauth/authorize?client_id='+clientData['client_id']+'&redirect_uri='+ clientData['redirect_uri'] +'&response_type=code&scope=read+write'
                    window.open(authUrl)
                }

                async function tryRetriveToken(code) {
                    var tokenAPi = url + '/oauth/token';
                    var clientData = await getMastodonClientId();
                    const { data } = await axios.post(tokenAPi, {
                        client_id: clientData['client_id'],
                        client_secret: clientData['client_secret'],
                        redirect_uri: clientData['redirect_uri'],
                        grant_type: 'authorization_code',
                        code: code
                    })
                    return data;
                }

                return {
                    getMastodonClientId: getMastodonClientId,
                    getCode: getCode,
                    tryRetriveToken: tryRetriveToken
                }
           }


           var apiinst = new MastdonApi('https://postxiami.space/');

        //    await apiinst.getCode()''
    
    
            Object.defineProperty(Promise, 'retry', {
                configurable: true,
                writable: true,
                value: function retry(retries, executor) {
                    console.log(`${retries} retries left!`)
                    if (typeof retries !== 'number') {
                        throw new TypeError('retries is not a number')
                    }
    
                    return new Promise(executor).catch(error => retries > 0
                        ? Promise.retry(retries - 1, executor)
                        : Promise.reject(error)
                    )
                }
            })
    
    
            function download(text, name, type) {
                var file = new Blob([text], { type: type });
                var isIE = /*@cc_on!@*/false || !!document.documentMode;
                if (isIE) {
                    window.navigator.msSaveOrOpenBlob(file, name);
                }
                else {
                    var a = document.createElement('a');
                    a.href = URL.createObjectURL(file);
                    a.download = name;
                    a.click();
                }
            }
    
            // var app = new Vue({
            //     el: '#app',
            //     components: {
            //         ScaleLoader: ScaleLoader
            //     },
            //     data: {
            //         url: 'https://postxiami.space',
            //         code: null,
            //         viewColumns: [
            //             // song_id: _.songId,
            //             //     description: _.description,
            //             //     album_id: _.albumId,
            //             //     language: _.albumLanguage,
            //             //     album_name: _.albumName,
            //             //     artist_name: _.artistName,
            //             //     composer: _.composer,
            //             //     arrangement: _.arrangement,
            //             //     song_name: _.songName,
            //             //     songwriters: _.songwriters,
            //             //     singers: _.singers,
            //             {
            //                 title: 'song_name',
            //                 dataIndex: 'song_name'
            //             },
            //             {
            //                 title: 'artist_name',
            //                 dataIndex: 'artist_name'
            //             }, {
            //                 title: 'album_name',
            //                 dataIndex: 'album_name'
            //             },
            //             {
            //                 title: 'description',
            //                 dataIndex: 'description'
            //             },
            //             {
            //                 title: 'composer',
            //                 dataIndex: 'composer'
            //             }
            //         ],
            //         userId: null,
            //         viewSongs: [],
            //         runErrors: [],
            //         statusBox: false,
            //         useMaxSize: false,
            //         skipDown: false,
            //         saveDir: null,
            //         user: null,
            //         showSub: false,
            //         pwd: null,
            //         currentPage: 1,
            //         showDownloader: false,
            //         currentStatus: null,
            //         starting: false,
            //         inited: false,
            //         loading: true,
            //         userData: null,
            //         songs: null,
            //         logs: [],
            //         topStyles: [],
            //         dataTabs: [],
            //         downloadSongs: null,
            //     },
            //     mounted() {
            //         this.loading = false;
            //         this.inited = true;
            //         // this.saveDir = window.localStorage.getItem('saveDir')
            //         // this.user = window.localStorage.getItem('user')
            //         // this.pwd = window.localStorage.getItem('pwd')
            //         // this.useMaxSize = window.localStorage.getItem('useMaxSize') ? true : false;
            //         // let params = (new URL(document.location)).searchParams;
            //         // let uid = params.get("uid");
            //         // if (isNaN(parseInt(uid))) {
            //         //     alert('https://www.xiami.com/user/{这一段是你的ID}， 或者打开虾米app最底部有段数字');
            //         //     return;
            //         // }
            //         // this.init(uid)
            //         // if (this.saveDir) {
            //         //     // this.startTask();
            //         // }
            //         // window.progress = (log) => {
            //         //     log.results = Object.keys(log.results)
            //         //     this.logs.unshift(log);
            //         //     if (this.logs.length > 20) {
            //         //         this.logs.pop();
            //         //     }
            //         // }
            //         // this.loadStatus();
            //         // this.timer = setInterval(() => {
            //         //     this.loadStatus();
            //         // }, 3000);
            //     },
            //     computed: {
            //         paginationProps() {
            //             return {
            //                 showSizeChanger: true,
            //                 current: this.currentPage,
            //                 pageSizeOptions: ['25', '96', '200', '800'],
            //                 defaultPageSize: 25,
            //                 showTotal: total => `全部 ${total} 结果`,
            //                 onChange: (page, pageSize) => {
            //                     this.currentPage = page
            //                     console.log(page, pageSize)
            //                     this.goTop();
            //                 }
            //             }
            //         }
            //     },
            //     watch: {
            //         useMaxSize() {
            //             window.localStorage.setItem('useMaxSize', this.useMaxSize)
            //         },
            //         saveDir() {
            //             window.localStorage.setItem('saveDir', this.saveDir)
            //         },
            //         user() {
            //             window.localStorage.setItem('user', this.user)
            //         },
            //         pwd() {
            //             window.localStorage.setItem('pwd', this.pwd)
            //         }
            //     },
            //     methods: {
            //         showError() {
            //             this.$info({
            //                 title: '错误内容',
            //                 content: JSON.stringify(this.runErrors, null, 2)
            //             });
            //         },
            //         //  async createTask() {
            //         //     const { data } = await api.get('/downloader/create', {
            //         //     })
            //         //     this.totalTask = data.task.length;
            //         //     return data;
            //         // },
            //         async startImport() {
            //             const allSongs = this.userData;
            //             console.log('allSongs', allSongs)
            //         },
            //         async startTask() {
            //             try {
            //                 var taskP = {
            //                     // skipDownload: 1,
            //                     saveDir: this.saveDir,
            //                     user: this.user,
            //                     pwd: this.pwd
            //                 }
    
            //                 if (this.skipDown) {
            //                     taskP.skipDownload = 1;
            //                 }
    
            //                 taskP.useMaxSize = this.useMaxSize;
            //                 const { data } = await api.get('/downloader/start', {
            //                     params: taskP
            //                 })
            //                 if (data.error) {
            //                     alert(data.error)
            //                 }
            //             } catch (e) {
            //                 alert('start error=' + e.toString());
            //             }
            //         },
            //         async customRequest(options) {
            //             const toText = file => new Promise((resolve, reject) => {
            //                 const reader = new FileReader();
            //                 reader.readAsText(file);
            //                 reader.onload = () => resolve(reader.result);
            //                 reader.onerror = error => reject(error);
            //             });
            //             const dataText = await toText(options.file);
            //             this.userData = JSON.parse(dataText)
            //             console.log('this.userData', this.userData )
            //             options.onSuccess({

            //             }, options.file)
            //         },
            //         async startDownload() {
            //             if (!this.saveDir) {
            //                 this.$info({
            //                     title: '提示',
            //                     content: '存储文件夹不能为空, 账号、密码'
            //                 });
            //                 return;
            //             }
            //             const stepData = chunk(this.downloadSongs, 5000);
            //             console.log('data', stepData)
            //             for (let index = 0; index < stepData.length; index++) {
            //                 const stepDataRows = stepData[index];
            //                 console.log('stepDataRows', stepDataRows)
            //                 const { data } = await api.post('/downloader/create', {
            //                     songIds: stepDataRows.map(_ => _.song_id)
            //                 })
            //             }
            //             // this.totalTask = data.task.length;
            //             this.startTask();
            //             this.downloading = true;
            //             this.showDownloader = false;
            //             this.statusBox = true;
            //         },
    
            //         async loadStatus() {
            //             const { data } = await api.get('/downloader/status')
            //             this.currentStatus = data;
            //             this.runErrors = data.status.runErrors;
            //             this.recentTasks = data.status.doneTasks.reverse().slice(0, 50)
            //         },
    
            //         handleChange(e) {
            //             this.skipDown = e.target.checked;
            //         },
            //         createTask(data) {
            //             this.downloadSongs = data;
            //             console.log('downloadSongs', this.downloadSongs)
            //             this.showDownloader = true
            //         },
            //         saveFile() {
            //             // console.log(this.userData)
            //             download(JSON.stringify(this.userData), 'backup.json', 'application/json');
            //         },
            //         goTop() {
            //             document.body.scrollTop = 0
            //         },
    
            //         viewData(songs) {
            //             this.viewSongs = songs
            //             this.showSub = true;
            //         },
            //         async init(uid) {
    
            //             this.userId = uid
            //             try {
            //                 const eDoc = await dataDB.get('state_' + uid)
            //                 console.log('eDoc', eDoc);
            //                 if (eDoc.state && Object.keys(eDoc.state).length > 2) {
            //                     this.vis(eDoc.state)
            //                 } else {
            //                     alert('数据错误，准备重新导出')
            //                     throw new Error('data error')
            //                 }
            //             } catch (e) {
            //                 console.log(e);
            //                 this.startBackup(uid)
            //             }
            //         },
    
            //         vis(userData) {
            //             this.userData = userData
            //             this.dataTabs = Object.keys(userData).map(_ => {
            //                 if (userData[_].length == 0) return null;
    
            //                 const allColumns = Object.keys(userData[_][0]).map(c => {
            //                     var cloudConfig = {
            //                         title: c,
            //                         dataIndex: c
            //                     }
            //                     if (['album_logo', 'collect_logo', 'artist_logo', 'avatar'].indexOf(c) > -1) {
            //                         cloudConfig.scopedSlots = {
            //                             customRender: 'imgcover'
            //                         }
            //                     }
    
            //                     if ([
            //                         'views',
            //                         'collects',
            //                         'likes',
            //                         'play_count',
            //                         'recommends',
            //                         'comments'].indexOf(c) > -1) {
            //                         cloudConfig.sorter = (a, b) => {
            //                             // console.log('sort', a, b)
            //                             return a[c] - b[c]
            //                         };
            //                     }
    
    
            //                     // scopedSlots: { customRender: 'imgcover' },
            //                     return cloudConfig
            //                 });
    
            //                 if (_.indexOf('collect') > -1) {
            //                     allColumns.unshift({
            //                         title: '操作',
            //                         dataIndex: 'action',
            //                         scopedSlots: {
            //                             customRender: 'download'
            //                         }
            //                     });
            //                     allColumns.unshift({
            //                         title: 'songs',
            //                         dataIndex: _,
            //                         scopedSlots: {
            //                             customRender: 'subtable'
            //                         }
            //                     });
            //                 }
    
    
    
            //                 // download
            //                 return {
            //                     name: _,
            //                     type: _,
            //                     columns: allColumns,
            //                     total: userData[_].length,
            //                     data: userData[_]
            //                 }
            //             }).filter(_ => _);
            //         },
            //         async startBackup(uid) {
    
            //             if (!uid) {
            //                 let params = (new URL(document.location)).searchParams;
            //                 uid = params.get("uid");
            //                 // this.init(uid)
            //             }
            //             console.log('startBackup', uid)
            //             this.starting = true
            //             let userData = null
            //             this.userId = uid
            //             try {
            //                 userData = await getUserAllFavorites(uid);
            //                 console.log('userData', userData)
            //             } catch (e) {
            //                 alert(e.toString())
            //                 return;
            //             }
    
            //             this.starting = false;
            //             // await dataDB.put()
            //             var stateDoc = 'state_' + uid;
            //             try {
            //                 const eDoc = await dataDB.get(stateDoc)
            //                 eDoc.state = userData
            //                 eDoc.time = Date.now()
            //                 await dataDB.put(eDoc)
            //             } catch (e) {
            //                 console.log('update failed try create')
            //                 await dataDB.put({
            //                     _id: stateDoc,
            //                     state: userData,
            //                     time: Date.now()
            //                 })
            //             }
    
            //             this.vis(userData);
    
            //         }
            //     },
            // })


// function MastodonWriteApi(endpoint, token) {
//     // const endpoint = 'http://localhost:3000'
//     // const token = 'xLaHyU-JaIz3rlfSIlGvDBVx234bT35IiXG7HHT_UVg'
//     const instance = axios.create({
//         baseURL: endpoint + '/api',
//         timeout: 50000,
//         headers: {'Authorization': 'Bearer '+token}
//     });
//     return instance;
// }


function DataImporter(endpoint, token) {
    const instance = axios.create({
        baseURL: endpoint + '/api',
        timeout: 50000,
        headers: {'Authorization': 'Bearer '+token.access_token}
    });

    async function importData(type, rows) {
        var payload = {}
        payload[type] = rows
        const { data } = await instance.post(`/v1/music/collections`, payload);
        console.log(data)
    }


    async function importFromJson(type, rows) {
        var dateTypeMap = {
            song: 'songs',
            album: 'albums',
            artist: 'artists'
        }

        var dateType = dateTypeMap[type]
        var parsedSongs = rows.map(_ => {
            if(type == 'song') {
                return {
                    name: _.song_name,
                    artist_name: _.artist_name,
                    album_name: _.album_name,
                    cover: _.album_logo
                }
            }

            if(type == 'album') {
                return {
                    name: _.album_name,
                    artist_name: _.artist_name,
                    cover: _.album_logo,
                    company: _.company,
                    play_count: _.play_count,
                    published_at: _.publish
                }
            }

            if(type == 'artist') {
                return {
                    name: _.artist_name,
                    cover: _.artist_logo,
                    gender: _.gender,
                    alias: _.alias,
                    play_count: _.play_count,
                    country: _.area,
                    tags: _.styles ? _.styles.filter(d => d.indexOf('|') === -1).filter(d => d.indexOf('/') === -1).map(c => {
                        var namePairs = c.split(' ');
                        var cnName = namePairs.shift();
                        return {
                            cnName: cnName,
                            name: namePairs.join(" ").toLowerCase()
                        }
                    }) : []
                }
            }
        });

        const stepItems = chunk(parsedSongs, 300);
        for (let index = 0; index < stepItems.length; index++) {
            try {
                const tasks = stepItems[index];
                const results = await importData(dateType, tasks)
            } catch (e) {
                console.log("chunkPromise", e);
            }
        }
        console.log('all done')
    }

    async function importAll() {
        var allDataTypes = ['artist', 'album', 'song'];
        for(var k in allDataTypes) {
            const type = allDataTypes[k]
            const rows = app.userData[type]
            await importFromJson(type, rows)
        }
    }

    return {
        importAll: importAll
    }
}

            var app = new Vue({
                el: '#app',
                components: {
                    ScaleLoader: ScaleLoader
                },
                data: {
                    url: 'https://postxiami.space',
                    code: null,
                    token: null,
                    inited: false,
                    obting: false,
                    tabs: [],
                },
                mounted() {
                    this.loading = false;
                    this.inited = true;
                    if(window.localStorage.getItem('token')) {
                        this.token = JSON.parse(window.localStorage.getItem('token'));
                    }

                    if(window.localStorage.getItem('url')) {
                        this.url = window.localStorage.getItem('url');
                    }

                    // window.localStorage.setItem('token', JSON.stringify(accesToken))
                },
                computed: {
                },
                watch: {
                    async code() {
                        this.retriveCode()
                    },
                    async url() {
                        // this.retriveCode()
                        window.localStorage.setItem('url', this.url)
                    }
                },
                methods: {
                    async retriveCode() {
                        if(this.code && this.instAPI && !this.obting) {
                            this.obting = true;
                            var accesToken = await this.instAPI.tryRetriveToken(this.code);
                            if(accesToken.error) {
                                alert(accesToken.error)
                            } else {
                                window.localStorage.setItem('token', JSON.stringify(accesToken))
                                // console.log(' ', accesToken);
                            }
                            this.obting = false;
                            this.token = accesToken
                        }
                    },
                    showError() {
                        this.$info({
                            title: '错误内容',
                            content: JSON.stringify(this.runErrors, null, 2)
                        });
                    },
                    async startAuth() {

                        if(!this.waitCode) {
                            this.instAPI = new MastdonApi(this.url);
                            await this.instAPI.getCode();
                            this.waitCode = true
                        }
                        
                        if(this.waitCode) {
                            console.log('wait code')
                            this.retriveCode()
                        }
                    },

                    async runImportTask() {
                        if(!this.token) {
                            alert('未授权')
                            return
                        }
                        var importer = new DataImporter(this.url, this.token);
                        await importer.importAll();
                    },
                    async customRequest(options) {
                        const toText = file => new Promise((resolve, reject) => {
                            const reader = new FileReader();
                            reader.readAsText(file);
                            reader.onload = () => resolve(reader.result);
                            reader.onerror = error => reject(error);
                        });
                        const dataText = await toText(options.file);
                        this.userData = JSON.parse(dataText)
                        console.log('this.userData', this.userData )
                        this.tabs = Object.keys(this.userData).map(_ => {
                            return {
                                type: _,
                                count: this.userData[_].length
                            }
                        })
                        this.runImportTask()
                        options.onSuccess({

                        }, options.file)
                    },
                },
            })
    
        </script>
    </body>
    
    </html>